In [21]:
import pandas as pd
import importlib
import sys

sys.path.append('../helpers')
pd_women = pd.read_csv("../database/mujeres.csv")

In [22]:
import utils
importlib.reload(utils)

In [23]:
copy_pd_women = pd_women.copy()
display(copy_pd_women)

    estatura  peso   cum  gastocel
0       1.68   149  7.03        16
1       1.65   105  5.66         5
2       1.55   130  7.48         5
3       1.60   125  7.20        23
4       1.70    68  6.80        30
5       1.65   127  8.11         5
6       1.58   160  7.53         3
7       1.56   130  6.57        23
8       1.55   100  7.26         3
9       1.55   105  7.38         6
10      1.80   155  6.67        10
11      1.55   108  7.44         3
12      1.53   106  7.52        15
13      1.62   105  7.22        30
14      1.55   160  6.83        30
15      1.60   102  7.13        23
16      1.57   120  7.08        10
17      1.65   135  6.83        25
18      1.63   128  6.89        24
19      1.55   110  8.70        15
20      1.60   142  8.12         5
21      1.60   136  8.00        30
22      1.68   125  8.81        17
23      1.60   115  8.41        15
24      1.65   150  6.80        10

In [24]:
route_w = "../database/women/"

In [25]:
# Manejo de la variable estatura
column_estatura = copy_pd_women["estatura"]
bins_estatura = [1.53, 1.58, 1.63, 1.68, 1.73, 1.78, 1.83]
labels_estatura = ["1.53-1.58", "1.58-1.63", "1.63-1.68", "1.68-1.73", "1.73-1.78", "1.78-1.83"]
frecuency_table_by_estatura = utils.frecuency_by_range(column_estatura, bins_estatura, labels_estatura)
dataframe_estatura =  utils.grouped_data_table("Estatura", frecuency_table_by_estatura)

display(dataframe_estatura)
utils.export_grouped_csv(dataframe_estatura, "estatura_tabla", route_w)
utils.export_grouped_csv(column_estatura, "estaturas", route_w)

            L -     L     xi  fi abs  fi sum  fi %
estatura
1.53-1.58  1.53  1.58  1.555       9       9  36.0
1.58-1.63  1.58  1.63  1.605       7      16  28.0
1.63-1.68  1.63  1.68  1.655       5      21  20.0
1.68-1.73  1.68  1.73  1.705       3      24  12.0
1.73-1.78  1.73  1.78  1.755       0      24   0.0
1.78-1.83  1.78  1.83  1.805       1      25   4.0

In [26]:
# Manejo de la variable peso
column_peso = copy_pd_women["peso"]
bins_peso = [68, 83.5, 99, 114.5, 130, 145.5, 161]
labels_peso = ["68-83.5", "83.5-99", "99-114.5", "114.5-130", "130-145.5", "145.5-161"]
frecuency_table_by_peso = utils.frecuency_by_range(column=column_peso, bins_numbers=bins_peso, label_names=labels_peso)
dataframe_peso = utils.grouped_data_table("Peso", frecuency_table_by_peso)

display(dataframe_peso)
utils.export_grouped_csv(dataframe_peso, "peso_tabla", route_w)
utils.export_grouped_csv(column_peso, "pesos", route_w)

             L -      L      xi  fi abs  fi sum  fi %
peso
68-83.5       68   83.5   75.75       1       1   4.0
83.5-99     83.5     99   91.25       0       1   0.0
99-114.5      99  114.5  106.75       8       9  32.0
114.5-130  114.5    130  122.25       6      15  24.0
130-145.5    130  145.5  137.75       5      20  20.0
145.5-161  145.5    161  153.25       5      25  20.0

In [27]:
# Manejo de la variable CUM
column_cum = copy_pd_women["cum"]
bins_cum = [5.66, 6.19, 6.72, 7.25, 7.78, 8.31, 8.84]
label_cum = ["5.66-6.19", "6.19-6.72", "6.72-7.25", "7.25-7.78", "7.78-8.31", "8.31-8.84"]
frecuency_table_by_cum = utils.frecuency_by_range(column=column_cum, bins_numbers=bins_cum, label_names=label_cum)
dataframe_cum = utils.grouped_data_table("CUM", frecuency_table_by_cum)

display(dataframe_cum)
utils.export_grouped_csv(dataframe_cum, "cum_tabla", route_w)
utils.export_grouped_csv(column_cum, "cums", route_w)

            L -     L     xi  fi abs  fi sum  fi %
cum
5.66-6.19  5.66  6.19  5.925       1       1   4.0
6.19-6.72  6.19  6.72  6.455       2       3   8.0
6.72-7.25  6.72  7.25  6.985      10      13  40.0
7.25-7.78  7.25  7.78  7.515       6      19  24.0
7.78-8.31  7.78  8.31  8.045       3      22  12.0
8.31-8.84  8.31  8.84  8.575       3      25  12.0

In [28]:
# Manejo de la variable gasto celular
column_gastocel = copy_pd_women["gastocel"]
bins_gastocel = [3.0, 7.55, 12.1, 16.65, 21.2, 25.75, 30.3]
label_gastocel = ["3.0-7.55", "7.55-12.1", "12.1-16.65", "16.65-21.2", "21.2-25.75", "25.75-30.3"]
frecuency_table_by_gastocel = utils.frecuency_by_range(column=column_gastocel, bins_numbers=bins_gastocel, label_names=label_gastocel)
dataframe_gastocel = utils.grouped_data_table("Gasto celular", frecuency_table_by_gastocel)

display(dataframe_gastocel)
utils.export_grouped_csv(dataframe_gastocel, "gastocel_tabla", route_w)
utils.export_grouped_csv(column_gastocel, "gastocel", route_w)

              L -      L      xi  fi abs  fi sum  fi %
gastocel
3.0-7.55      3.0   7.55   5.275       8       8  32.0
7.55-12.1    7.55   12.1   9.825       3      11  12.0
12.1-16.65   12.1  16.65  14.375       4      15  16.0
16.65-21.2  16.65   21.2  18.925       1      16   4.0
21.2-25.75   21.2  25.75  23.475       5      21  20.0
25.75-30.3  25.75   30.3  28.025       4      25  16.0